.tabs_main {
    position: relative;
    width: 60%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 1px rgba(3, 3, 3, .5);
    display: flex;
}

.tabBtn {
    flex-basis: 25%;
    padding: 10px;
    background-color: #ccabc5;
    border-right: 1px solid #ccabc5;
}

.tabContents {
    flex-basis: 75%;
    background-color: antiquewhite;
    padding: 20px 30px 20px 40px;
    font-size: 20px;
}

.contents {
    display: none;
}

.tabContents .show {
    display: block;
}

.tabBtn .show {
    background-color: red;
}
